@font-face {
  font-family: "Roboto-font";
  src: url("Roboto-font.woff") format("woff");
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 !important;
}

.video-wrapper {
  margin: 0 !important;
}

.video-wrapper-column {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.navigation{
  display: flex;
  justify-content: space-evenly;
  padding-top: 1vh;
  padding-bottom: 1vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: white !important;
  font-family: Roboto-font;
}

.navigation a {
  color: white !important;
}

.full-video {
  width: 100%;
}

.organizers-wrapper {
  text-align: center;
  margin: 0 !important;
}

.organizers {
  font-family: Roboto-font;
  font-size: 3vh;
  font-weight: bold;
}

.organizers-logos {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2vh;
}

.organizers-logos img {
  width: auto;
  height: 20vh;
}

.organizers-logos-smaller {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2vh;
}

.organizers-logos-smaller img {
  width: auto;
  height: 15vh;
}

.patronats {
  font-family: Roboto-font;
  font-size: 3vh;
  font-weight: bold;
  color: #e96a95;
  padding: 3vh 0 1vh 0;
}

.patronats-logos {
  display: flex;
  justify-content: space-evenly;
  padding: 1vh 0 1vh 0;
}

.patronats-logos img {
  width: auto;
  height: 11vh;
}

.hashtag {
  font-family: Roboto-font;
  margin: 0 !important;
  background-color: #f8a680;
  color: white;
  padding-bottom: 5vh;
  text-align: center;
  font-size: 2.5vh;
}

.hashtag-large {
  font-size: 10vh;
  font-weight: bold;
  padding: 5vh 0 5vh 0;
}

.hashtag-fifth {
  font-weight: bold;
}

#about {
  margin: 0 !important;
}

.about-table-row {
  display: flex;
  flex-direction: row;
  min-height: 20vh;
  text-align: center;
  font-family: Roboto-font;
}

.about-title {
  font-family: Roboto-font;
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
  padding: 5vh 0 2vh 0;
}

.about-programme {
  text-align: center;
  padding: 2vh 0 2vh 0;
}

.about-table-cell {
  width: 33%;
  font-size: 3vh;
  padding: 1rem;
}

.sponsors-wrapper {
  margin: 0 !important;
  text-align: center;
}

.sponsors-title {
  font-family: Roboto-font;
  font-size: 3vh;
  font-weight: bold;
  color: #e96a95;
  padding: 3vh 0 3vh 0;
}

.sponsors-logos {
  display: flex;
  justify-content: space-evenly;
  padding: 2vh 0 5vh 0;
}

.sponsors-logos img {
  width: auto;
  height: 12vh;
}

.media-patrons-title {
  font-family: Roboto-font;
  font-size: 3vh;
  font-weight: bold;
  color: #e96a95;
  padding: 3vh 0 3vh 0;
}

.media-patrons-logos {
  display: flex;
  justify-content: space-evenly;
  padding: 2vh 0 5vh 0;
}

.media-patrons-logos img {
  width: auto;
  height: 8vh;
}
.registration-wrapper {
  margin: 0 !important;
  font-family: Roboto-font;
  text-align: center;
  font-weight: bold;
  padding: 5vh 0 5vh 0;
}

.registration-title {
  font-size: 4vh;
  padding-bottom: 3vh;
}

.registration-date {
  font-size: 10vh;
  color: #f8a680;
  padding-bottom: 3vh;
}

.regulations-wrapper {
  margin: 0 !important;
  background-color: #f8a680;
  font-family: Roboto-font;
  text-align: center;
  font-weight: bold;
  padding: 5vh 0 5vh 0;
}

.regulations-title {
  font-size: 4vh;
  padding-bottom: 3vh;
}

.contact-wrapper {
  margin: 0 !important;
  font-family: Roboto-font;
  text-align: center;
  padding: 5vh 0 5vh 0;
}

.contact-title {
  font-size: 4vh;
  font-weight: bold;
  padding-bottom: 3vh;
}

.contact-email {
  font-size: 3vh;
  padding-bottom: 3vh;
}

.pink {
  background-color: #e96a95;
  color: white;
}

@media (min-width: 601px) and (max-width: 900px) {
  .organizers-logos img {
    width: auto;
    height: 14vh;
  }

  .organizers-logos-smaller img {
    width: auto;
    height: 7vh;
  }

  .navigation{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    color: white !important;
    font-family: Roboto-font;
  }

  .hashtag-large {
    font-size: 6vh;
    font-weight: bold;
    padding: 5vh 0 5vh 0;
  }

  .about-table-cell {
    width: 33%;
    font-size: 2vh;
    padding: 1rem;
  }

  .patronats-logos img {
    width: auto;
    height: 7vh;
  }

  .sponsors-logos img {
    width: auto;
    height: 8vh;
  }

  .registration-date {
    font-size: 7vh;
    color: #f8a680;
    padding-bottom: 3vh;
  }

  .media-patrons-logos img {
    width: auto;
    height: 5vh;
  }
}

@media (max-width: 600px) {
  .organizers-logos img {
    width: auto;
    height: 8vh;
  }

  .organizers-logos-smaller img {
    width: auto;
    height: 5vh;
  }

  .navigation{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    font-weight: bold;
    font-size: 0.5rem;
    text-decoration: none;
    color: white !important;
    font-family: Roboto-font;
  }

  .hashtag-large {
    font-size: 4vh;
    font-weight: bold;
    padding: 5vh 0 5vh 0;
  }

  .about-table-cell {
    width: 33%;
    font-size: 1.5vh;
    padding: 1rem;
  }

  .patronats-logos img {
    width: auto;
    height: 6vh;
  }

  .sponsors-logos img {
    width: auto;
    height: 8vh;
  }

  .registration-date {
    font-size: 5vh;
    color: #f8a680;
    padding-bottom: 3vh;
  }

  .media-patrons-logos img {
    width: auto;
    height: 6vh;
  }
}
