@font-face {
  font-family: BandeinsSansRegular;
  src: url("BandeinsSansRegular.otf") format("opentype");
}

.video-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 !important;
}

.navigation{
  display: flex;
  justify-content: space-evenly;
  padding-top: 1vh;
  padding-bottom: 1vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  font-weight: bold;
  font-size: 2vh;
  text-decoration: none;
  color: white !important;
  font-family: 'BandeinsSansRegular', serif;
}

.navigation a {
  color: white !important;
}

.full-video {
  width: 100%;
}

.organizers-wrapper {
  text-align: center;
}

.organizers {
  font-family: 'BandeinsSansRegular', serif;
  font-size: 3vh;
  font-weight: bold;
}

.organizers-logos {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2vh;
}

.organizers-logos img {
  width: auto;
  height: 20vh;
}

.patronats {
  font-family: 'BandeinsSansRegular', serif;
  font-size: 3vh;
  font-weight: bold;
  color: #e96a95;
  padding: 3vh 0 3vh 0;
}

.patronats-logos {
  display: flex;
  justify-content: space-evenly;
  padding: 2vh 0 5vh 0;
}

.patronats-logos img {
  width: auto;
  height: 12vh;
}

.hashtag {
  font-family: 'BandeinsSansRegular', serif;
  background-color: #f8a680;
  color: white;
  padding-bottom: 5vh;
  text-align: center;
  font-size: 2.5vh;
}

.hashtag-large {
  font-size: 10vh;
  font-weight: bold;
  padding: 5vh 0 5vh 0;
}

.hashtag-fifth {
  font-weight: bold;
}

.about-table-row {
  display: flex;
  flex-direction: row;
  min-height: 20vh;
  text-align: center;
  font-family: 'BandeinsSansRegular', serif;
}

.about-title {
  font-family: 'BandeinsSansRegular', serif;
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
  padding: 5vh 0 2vh 0;
}

.about-programme {
  text-align: center;
  padding: 2vh 0 2vh 0;
}

.about-table-cell {
  width: 33%;
  font-size: 3vh;
  padding: 1rem;
}

.sponsors-wrapper {
  text-align: center;
}

.sponsors-title {
  font-family: 'BandeinsSansRegular', serif;
  font-size: 3vh;
  font-weight: bold;
  color: #e96a95;
  padding: 3vh 0 3vh 0;
}

.sponsors-logos {
  display: flex;
  justify-content: space-evenly;
  padding: 2vh 0 5vh 0;
}

.sponsors-logos img {
  width: auto;
  height: 12vh;
}
.vertical-align {
  position: relative;
  top: 25%;
}

.pink {
  background-color: #e96a95;
  color: white;
}

@media (max-width: 600px) {
  .video-wrapper {
    max-height: 160px;
  }
}
